<?xml version="1.0"?>
<config>
	<modules>
		<Experius_DPDShippingExtended>
			<version>0.0.1</version>
		</Experius_DPDShippingExtended>
	</modules>
	<global>
		<helpers>
			<experius_dpdshippingextended>
				<class>Experius_DPDShippingExtended_Helper</class>
			</experius_dpdshippingextended>
		</helpers>
		<models>
			<experius_dpdshippingextended>
				<class>Experius_DPDShippingExtended_Model</class>
				<resourceModel>dpdshippingextended_mysql4</resourceModel>
			</experius_dpdshippingextended>
			<dpd>
				<rewrite>
					<webservice>Experius_DPDShippingExtended_Model_Webservice</webservice>
				</rewrite>
			</dpd>
		</models>
		<sales>
			<quote>
				<item>
					<product_attributes>
						<nav_exclude_dpdpickup />
					</product_attributes>
				</item>
			</quote>
		</sales>
		<resources>
			<dpdshippingextended_setup>
				<setup>
					<module>Experius_DPDShippingExtended</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</dpdshippingextended_setup>
			<dpdshippingextended_write>
				<connection>
					<use>core_write</use>
				</connection>
			</dpdshippingextended_write>
			<dpdshippingextended_read>
				<connection>
					<use>core_read</use>
				</connection>
			</dpdshippingextended_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<experius_dpdshippingextended>
					<file>experius/dpdshippingextended.xml</file>
				</experius_dpdshippingextended>
			</updates>
		</layout>
		<events>
			<core_collection_abstract_load_after>
				<observers>
					<core_collection_abstract_load_after_experius_dpdshippingextended_handler>
						<type>model</type>
						<class>experius_dpdshippingextended/observer_quote</class>
						<method>salesQuoteItemCollectionLoadAfter</method>
						<args></args>
					</core_collection_abstract_load_after_experius_dpdshippingextended_handler>
				</observers>
			</core_collection_abstract_load_after>
			<checkout_cart_product_add_after>
				<observers>
					<checkout_cart_product_add_after_experius_dpdshippingextended_handler>
						<type>model</type>
						<class>experius_dpdshippingextended/observer_quote</class>
						<method>setQuoteAttribute</method>
						<args></args>
					</checkout_cart_product_add_after_experius_dpdshippingextended_handler>
				</observers>
			</checkout_cart_product_add_after>
		</events>
	</frontend>
	<default>
		<carriers>
			<dpdparcelshops>
				<change_api>1</change_api>
			</dpdparcelshops>
		</carriers>
	</default>
</config> 