.gm-style-iw { background: #ffffff; border: 1px solid #585b58; left: -110px !important; padding: 5px; top: 14px; width: 220px !important; }
.gm-style-iw .content tr:first-child > td:first-child { display: none; }
.gm-style-iw + div { left: 95px !important; }
